gymnasium==1.0.0
ray[rllib]==2.43.0
torch==2.6.0
torch_geometric==2.6.1
scipy==1.15.2
tyro==0.9.16
tensorboard==2.19.0
progress-table==0.4.6
wandb==0.19.7
matplotlib==3.10.1
networkx==3.4.2
pygraphviz==1.14

pyright==1.1.396
icecream==2.1.4
pre-commit==4.1.0
pandas-stubs==2.2.3
ipykernel==6.29.5
